<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="resources/images/logo.png">
		<title>SisMAC-Marina &Aacute;guas Claras</title>
		<link rel="stylesheet" href="resources/css/bootstrap.css">
		<link rel="stylesheet" href="resources/css/font-awesome.css">
		<link rel="stylesheet" href="resources/css/bootstrap-datetimepicker-site.css">
		<link rel="stylesheet" href="resources/css/pygments-manni.css">
		<link rel="stylesheet" href="resources/css/bootstrap-datetimepicker.css">
		<link rel="stylesheet" href="resources/css/style.css">
		
		<script type="text/javascript" src="resources/js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="resources/js/jquery-ui.js"></script>
		<script type="text/javascript" src="resources/js/bootstrap.js"></script>
                <script type="text/javascript" src="resources/js/extenso.js"></script>
		<script type="text/javascript" src="resources/js/functions.js"></script>
		<script type="text/javascript" src="resources/js/jquery.mask.js"></script>
		<script type="text/javascript" src="resources/js/jquery.maskMoney.js"></script>
		<script type="text/javascript" src="resources/js/moment.js"></script>
		<script type="text/javascript" src="resources/js/bootstrap-datetimepicker.js"></script>
               
                
	</head>
<body>