<div class="main-header"> 
    <!-- <div class="info"> -->
    <div class="logo float">
        <img src="resources/images/logo.png">
    </div>
    <div class="sub-header-1">
        <div class="sistema-nome-header">
            <h4>SISMAC</h4>
            <div class="separator-header"></div>
            <h4>Marina &Aacute;guas Claras</h4>
        </div>
        <div class="nav-header">
            {NAV}
        </div>
    </div>
    <div class='sub-header-2'>
        <div class="sub-header-2-container">
            <div class="logged-user">Logado como {USUARIO_HEADER} ( <span>{PERFIL_HEADER}</span> )</div>
            <div class="buttons">
                <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
                <a href="controllers/usuario/controller.php/?m=logout">
                    <button class="btn btn-default">Sair</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="linha"></div>