<div class="menu">
	<ul class="nav-list">
		<li class="{SELECTED1}"><a href="?c=usuario&v=home">Home</a></li>
		<li class="{SELECTED2}"><a href="?c=cliente&v=home">Clientes</a></li>
		<li class="{SELECTED3}"><a href="?c=usuario&v=salvar">Usu&aacute;rios</a></li>
		<li class="{SELECTED4}"><a href="?c=pesquisar&v=home">Parametros</a></li> 
		<li class="{SELECTED5}"><a href="?c=mensalidade&v=home">Mensalidades</a></li>
		<li class="{SELECTED6}"><a href="?c=sobre&v=home">Sobre</a></li>
	</ul>
</div>
	 