<div class="content">
	<legend>
		<h1>Clientes</h1>
	</legend>
	<div class="opcoes">
		<div class="opcao">
			<a href="?c=cliente&v=salvar">
				<img src="resources/images/user.png" alt="Novo CLiente">
					Novo Cliente
			</a>
		</div>
		<!--<div class="opcao">
			<a href="?c=cliente&v=pesquisar">
				<img src="" alt="">Editar Cliente
			</a>
		</div>
		<div class="opcao"><a href="?c=cliente&v=pesquisar"><img src="" alt="">Excluir Cliente</a></div> -->
		<div class="opcao"><a  href="?c=cliente&v=pesquisar"><img src="resources/images/search.png" alt="">Pesquisar por Cliente</a></div>
		<div class="opcao">
			<a href="/SISMAC/controllers/cliente/controller.php?m=listar">
                            <img src="resources/images/list.png" alt="">
				Listar Clientes
			</a>
		</div>
		<div class="opcao">
			<a  href="/SISMAC/controllers/cliente/controller.php?m=restaurar&filtro1=ativo&v1=0">
				<img src="resources/images/recycle.png"  alt="">
				Restaurar Clientes
			</a>
		</div>
		 
	</div>
</div>