<div class="list-content">
    <!-- BEGIN LISTA -->
    <div class="lista-header">
        <h1>Lista de Clientes</h1>
    </div> 
    <div class="list-body row">
        <!-- BEGIN LISTABODY -->
        <div class="opcao">
            <a href="?c=cliente&v=ficha&id={CODIGO}" >
                <div>
                    <img src="resources/images/user.png" alt="">
                </div>
                <p>
                    Nome:<br><strong>{NOME} </strong>
                </p>
                <p>
                    Embarcações: {COUNTEREMB}
                </p>
            </a>
        </div>

        <!-- END LISTABODY -->
        <div class="col-lg-9">
            <ul class="pagination pagination-lg">
                <li class="">
                    <a href="#"><span>&laquo;</span></a>
                </li>
                <li class="active">
                    <span>1 <span class="sr-only">(current)</span></span></li>
            </ul>
        </div> 
    </div>
    <!-- END LISTA -->
    <h3>Sem Resultados de Pesquisa.</h3>
    <!-- FINALLY LISTA -->  

</div>