<!-- <div class="content">
	<legend>
		<h1>Dados do Cliente</h1>
	</legend>
	<h4>Nome:  {NOMECLIENTE}</h4>
	<h5>{REPRESENTANTE}</h5>
	<p>{NOMEREPRESENTANTE}</p>
	<h5>{CPFFCNPJ}</h5>
	<p>{CPF}</p>
	<hr>
	<table>
		<tbody>
			<tr>
				<td rowspan="2">a</td>
				<td rowspan="2">v</td> 
				
				 
			</tr> 
			<tr>
			 	<td>h</td>

			 </tr>
			 <tr>
			 	<td>h</td>

			 </tr>
			 
		</tbody>
	</table>
</div> -->
<div class="content">
	<div >
		<legend>
			<h1>Ficha do Cliente</h1>
		</legend>
		<div class="ficha">
			<div class="panel" >
				<div class="legend col-lg-12">
					<h2>Dados do Cliente</h2>
					<div class="col-lg-2">
						<img class="img-thumbnail" src="resources/images/user.png" alt="...">
					</div>
				</div>
				<div class="dados">
					<span class="col-lg-12">Status:{STATUS}</span>
					<span class="col-lg-7">
						NOME: {NOMECLIENTE}
					</span>
					<span class="col-lg-5">
						CPF/CNPJ: {CPFCLIENTE}
					</span>
					<span class="col-lg-7">
						{TIPOREPRESENTANTE}: {CONJUGUE}
					</span>
					<span class="col-lg-5">
						Data de Nasc.: {DATANASC}
					</span>
					<span class="col-lg-12">
						TELEFONES: {TELEFONES}
					</span>
					 
					<span class="col-lg-7">
						EMAIL: {EMAIL}
					</span>
				 
					<span class="col-lg-5">
						ENDERE&Ccedil;OS: {BAIRRO}
					</span>
					<span class="col-lg-5">
						CONTRATOS ATIVOS: {NUMEROCONTRATOS}
					</span>
					<span class="col-lg-7">
						MENSALIDADES EM ABERTO: {MENSALIDADESABERTO}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class=" botoes row">
		<div class="col-lg-3">
			<a href="/SISMAC/controllers/cliente/controller.php?m=restaurar&id={ID}" {DISABLED} class="btn btn-default">Restaurar</a>
		</div>
		<div class="col-lg-3">
			<a href="?c=cliente&v=home" class="btn btn-default">Cancelar</a>
		</div>
	</div>
</div>