<div class="content">
    <div class="title-form">
        <h1 class="float">Cadastro de clientes</h1>
        <button class="col-lg-offset-1 float muda-tipo-cliente btn btn-info" value="PF">
            Pessoa Jur&iacute;dica 
        </button>
    </div>
    <div class="col-lg-12">
        <form id="cliente-salvar"  action="controllers/cliente/controller.php/?m=salvar" method="post">
            <fieldset>
                <div id="form-cliente" class="cliente-pf">
                    <legend>
                        Dados Pessoais do Cliente ( Pessoa F&iacute;sica )
                    </legend>
                    <input type="hidden" name="tipo" value="f">
                    <input type="hidden" name="ativo" value="1">
                    <div class="col-lg-7">
                        <label for="nome">Nome do Cliente</label>
                        <input id="nome" class="form-control" type="text" name="nome"  placeholder="Nome do Cliente">
                    </div>
                    <div class="col-lg-7">
                        <label for="conjugue">Nome do Conjugue</label>
                        <input class="form-control" type="text" name="conjugue" placeholder="Nome do Conjugue">
                    </div>
                    <div class="clean ">
                        <div class="div-cpf col-lg-4">
                            <label for="cpf">CPF do Cliente</label>
                            <input id="CPF"  class="form-control" type="text" name="cpf"  placeholder="XXX.XXX.XXX-XX" required="true" maxLength="14">
                        </div>
                        <div class="col-lg-offset-2 col-lg-4">
                            <label for="datanascimento">Data de Nascimento</label>
                            <div class='input-group date datetimepicker'>
                                <input class="form-control data" type="text" name="datanascimento" 
                                       data-date-format="DD/MM/YYYY" required placeholder="DD/MM/YYYY">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>	
                        <div class="  col-lg-4">
                            <label for="rg">RG do Cliente</label>
                            <input id="rg" class="form-control" type="text" name="rg"  placeholder="RG do Cliente">
                        </div>
                        <div class="col-lg-offset-2 col-lg-4">
                            <label for="data_inicio">Cliente Desde:</label>
                            <div class='input-group date datetimepicker'>
                                <input class="form-control data" type="text" name="datainicio" 
                                       data-date-format="DD/MM/YYYY" required placeholder="DD/MM/YYYY">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>						 
                    </div>
                </div>
                <div id="telefone-area"></div>
                <div id="endereco-area"></div>
                <div id="email-area"></div>
                <div id="embarcacao-area"></div>
            </fieldset>
            <hr>
        </form>
        <div class="col-lg-2">
            <button class="btn btn-info" id="gravar" >
                <span>Gravar</span>
            </button>
        </div>
    </div>
</div>