<div class="sidebar">
	<div class="paragrafo">
		<h1>Aten&ccedil;&atilde;o</h1>
		<p>A exclus&atilde;o de clientes com mensalidades em aberto, far&aacute; com que todos os contratos do cliente sejam desativados, 
                    deixando as <strong>MENSALIDADE(S) EM ABERTO</strong>.</p>
		<p>
		caso este cliente possua mensalidades em aberto voc&ecirc; poder&aacute; baixar estas mensalidades clicando 
                <a class="btn" {DISABLED} href="?c=mensalidade&v=agrupar&id={ID}" >aqui</a> antes de excluir o cliente.
		</p>
		<p>
			Caso deseje excluir o registro mesmo assim, você poderá excluir as mensalidades uma-a-uma posteriormente.
                        clique no bot&atilde;o excluir logo abaixo nesta p&aacute;gina para excluir o resgistro do cliente.
		</p>
	</div>
</div>