<div class="content">
	<legend>
		<h1>Embarca&ccedil;&otilde;es</h1>
	</legend>
	<div class="opcoes">
		<div class="opcao">
			<a href="?c=cliente&v=salvar">
				<img src="resources/images/boat.png" alt="Novo CLiente">
					Nova Embarca&ccedil;&atilde;o
			</a>
		</div>
	 
		 
		<div class="opcao"><a href="?c=cliente&v=pesquisar"><img src="" alt="">Pesquisar por Embarca&ccedil;&otilde;es</a></div>
		<div class="opcao"><a href=""><img src="resources/images/list.png" alt="">Listar Embarca&ccedil;&otilde;es</a></div>
		 
		<div class="opcao"><a href=""><img src="" alt="">Alterar Contrato da Embarca&ccedil;&atilde;o</a></div>
	</div>
</div>