<div class="sidebar user-home-sidebar">
    <h3>Resumo do dia</h3>
    <hr>
    <div class="line row  ">
        <div class="row col-lg-10">
            <h4>Mensalidades Em Aberto</h4>
        </div>
        <div class="row col-lg-2 ">
            <h4>{MENSALIDADEABERTO}</h4>
        </div>
    </div>
    <div class="row col-lg-12">
        <h4>EM:</h4>
    </div>
    <!-- BEGIN DADOSMES -->
    <div class="line col-lg-12">
        <div class="row col-lg-10"><h4>{MES} </h4></div>
        <div class=" row col-lg-2"><h4 >{QUANTIDADE}</h4></div> 
    </div>
    <!-- END DADOSMES -->

    <h4>Mensalidades Baixadas em </h4>
    <div class="line col-lg-12">
        <div class="row col-lg-10"><h4>{MES} </h4></div>
        <div class=" row col-lg-2"><h4 >{QUANTIDADE}</h4></div> 
    </div>
</div>