<div class="sidebar">
    <h3>Usu&aacute;rios Cadastrados</h3>
    <hr>
    <!-- BEGIN LISTA_USUARIOS -->
    <div class="col-lg-12 row btn   ">
        <a style="display: block;  " class="text-left col-lg-11" href="?c=usuario&v=salvar&id={ID}">{USUARIO}

        </a>
        <a href="controllers/usuario/controller.php?m=excluir&id={ID}">
            <span class="glyphicon glyphicon-trash right"></span>
        </a>
    </div>
    <!-- END LISTA_USUARIOS -->
    <h4>Sem usu&aacute;rios para listar</h4>
    <!-- FINALLY LISTA_USUARIOS -->
</div>