<div class="content">
    <div class="borda-recibo">
        <div class="recibo-header col-lg-12">
            <div class=" col-lg-3">
                <h2>Recibo Nº</h2>
            </div>
            <div class="col-lg-3">
                <input class="form-control number-recibo text-right"  value="{NUMRECIBO}" disabled="disable" >
            </div>
            <div class="col-lg-offset-1 col-lg-3">
                <input class="form-control money valor" type="text" placeholder="R$ xxx.xxx,xx">
            </div>
        </div>
        <div class="col-lg-12">
            <hr>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label">Recebi(emos) de:</label>
                <textarea   class="form-control" rows="2" maxlength="118"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Import&acirc;ncia de: </label>
                <textarea id="extenso"  class="form-control" disabled="disable"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Referente a: </label>
                <textarea    class="form-control referente" maxlength="177"></textarea>
            </div>
        </div>
        <div class="col-lg-12">
            <hr>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nome emitente</label>
                    <input class="form-control" value="{NOMEEMITENTE}" placeholder="Nome emitente">
                </div>
                <div class="form-group">
                    <label>Endere&ccedil;o</label>
                    <input class="form-control" value="{ENDEMITENTE}" placeholder="Endere&ccedil;o">
                </div>
                <div class="form-group">
                    <label>CPF/CNPJ</label>
                    <input class="form-control" value="{CPFCNPJEMITENTE}" placeholder="CPF/CNPJ">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Data:</label>
                    <input type="text" class="form-control" value="{CURDATE}">
                </div>
                <div class="assinatura">
                    <h3 class="text-center"> Marina &Aacute;guas Claras</h3>
                </div>
                <div class="">
                    <h4 class="text-center">Andr&eacute; Oliveira Ferreira</h4>
                    <h6 class="text-center">CNPJ:07.355.785/0001-64</h6>
                </div>
            </div>
        </div>
    </div>
</div>